ESP32Codes/Mircopython/Max4466toMotors/check_repl.py
ESP32Codes/Mircopython/Max4466toMotors/check_wifi.py
ESP32Codes/Mircopython/Max4466toMotors/erase.ps1
ESP32Codes/Mircopython/Max4466toMotors/ESP32-C3 SuperMini datasheet.pdf
ESP32Codes/Mircopython/Max4466toMotors/ESP32_GENERIC_C3-20251209-v1.27.0.bin
ESP32Codes/Mircopython/Max4466toMotors/flash.ps1
ESP32Codes/Mircopython/Max4466toMotors/GEMINI.md
ESP32Codes/Mircopython/Max4466toMotors/monitor_serial.py
ESP32Codes/Mircopython/Max4466toMotors/secrets.py
ESP32Codes/Mircopython/OSCcontrols/src/secrets.h
ESP32Codes/Mircopython/OSCcontrols/mainDebug.cpp
ESP32Codes/Mircopython/OSCcontrols/ESP32-C3 SuperMini datasheet.pdf
ESP32Codes/Mircopython/OSCcontrols/GEMINI.md
# Python virtual environments
**/venv/
**/.venv/

# Visual Studio files
**/.vs/

# PlatformIO folders
**/.pio/

# UI/JS builds
**/node_modules/
**/build/
**/dist/

# Large assets and clones
# Massive Three.js clone (Magic Cubes project)
MiniProjects/FinalProjectCreativeCoding1/threeJS/
