html, body{
    overflow: hidden;
}

body{
    position: fixed;
    margin: 0;
    background-color: #303030;
}

/*=======================================================
                Trianglify Witchery
=========================================================*/
.circle{
    width: 30vw;
    height: 30vh;
}

path {
    transform-origin: center bottom;
    transition: all 1s;
}

.fade {
    opacity: 0.05;
}

.trianglify{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -9999;
    overflow: hidden;
}

/*=======================================================
                Main contents
=========================================================*/
iframe{
    width: 100%;
    height: 80vh;
    border: none;
    background: white;
    background-color: white;
    background-image: url("https://www.transparenttextures.com/patterns/clean-gray-paper.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
    height: 5vh;
    border: 5px black solid;
}

nav svg{
    display: block;
    height: 5vh;
}

.item{
    position: fixed;
    top: 7vh;
    width: 100%;
    height: 93vh;
    color: white;
    transition: all 0.5s;
    overflow: auto;
}

.item h1{
    font-size: 10vh;
    border-bottom: 3px dashed black;
    margin: auto;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    /*background-image: url("https://www.transparenttextures.com/patterns/white-diamond.png");*/
}

.item p{
    font-size: 3vw;
    margin: 10px;
}

.item a{
    color: blue;
    font-weight: 900;
    background-color: rgba(0,0,0,0.7)
}

#loading{
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    z-index: 100;
}

#loading h1{
    position: absolute;
    bottom: 0;
}

#loading #dots:after{
    animation: loading 3s linear infinite normal;
    display: inline-block;
    content: "";
    font-size: 80px;
}

@keyframes loading {
    0%{
        color: red;
        content: ".";
    }
    25%{
        color: pink;
        content: "..";
    }
    50%{
        color: blue;
        content: "...";
    }
    75%{
        color: green;
        content: "...."
    }
    100%{
        color: yellow;
        content: ".....";
    }
}


/*=======================================================
                Fun reveal/hide css animation!
=========================================================*/
.reveal{
    /*
    animation: revealy .25s ease-in-out 0s 1 normal forwards;
    */
    top: 6vh;
    left: 0;
    transform: rotate(0deg);
}

.hide{
    /*
    animation: hidey .25s ease-in-out 0s 1 normal forwards;
    */
    
    left: -200vw !important; /*Note: Mobile displays are taller than they are narrow, so with -100, parts would still be shown on the screen. 
    Fix !IMPORTANT, this is needed to override the class values for the loading screen.*/
}

.spin{
    transform: rotate(90deg);
}

/*
@keyframes revealy{
    from{
        left: -100vw;
        transform: rotate(90deg);
    }

    to{
        top: 6vh;
        left: 0;
        transform: rotate(0deg);
    }
}

@keyframes hidey{
    from{
        top: 6vh;
        left: 0;
        transform: rotate(0deg);
    }

    to{
        top: 0;
        left: -100vw;
        transform: rotate(90deg);
    }
}
*/

@media all and (max-width: 800px) {
    .masonry, .item{
        width: 100%;
    }
    .circle{
        width: 50%;
        height: 50%;
    }
}