:root{
    --colorOne: #bee6ce;
    --colorTwo: #bcffdb;
    --colorThree: #8dffcd;
    --colorFour: #44bba4;
    --colorFive: #4f9d69;
}

html, body{
    overflow: hidden;
}

body{
    position: fixed;
    margin: 0;
    background-color: #303030;
}

/*=======================================================
                Trianglify Witchery
=========================================================*/
.circle{
    width: 40vw;
    height: 40vh;
}

path {
    transform-origin: center bottom;
    transition: all 1s;
    opacity: 0.1;
}

.fade {
    opacity: 0.8;
}

.trianglify{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -9999;
    overflow: hidden;
    background-color: white;
}

/*=======================================================
                Defaults
=========================================================*/

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
    height: 5vh;
    margin-top: 3vh;
    z-index: 10000;
}

nav svg{
    display: block;
    height: 5vh;
    cursor: pointer;
    transition: all 1s;
}

nav path{
    opacity: 1;
}

nav svg:hover{
    opacity: 0.3;
}

.item{
    position: fixed;
    top: 0;
    width: 100%;
    height: 94vh;
    color: black;
    transition: all 0.5s;
    overflow: auto;
    scrollbar-color: black white;
    scrollbar-width: thin;
    padding-top: 8vh;
    z-index: -1000;
}

.item h1{
    font-size: 10vh;
    border-bottom: 3px dashed black;
    margin: auto;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    /*background-image: url("https://www.transparenttextures.com/patterns/white-diamond.png");*/
}

.item p{
    font-size: 1.5rem;
    margin: 10px;
    /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
}

.item a{
    color: blue;
}

/*=======================================================
                Loading Screen
=========================================================*/

#loading{
    visibility: hidden;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    z-index: 100;
}

#loading h1{
    position: absolute;
    bottom: 0;
}

#loading #dots:after{
    animation: loading 3s linear infinite normal;
    display: inline-block;
    content: "";
    font-size: 80px;
}

@keyframes loading {
    0%{
        color: red;
        content: ".";
    }
    25%{
        color: pink;
        content: "..";
    }
    50%{
        color: blue;
        content: "...";
    }
    75%{
        color: green;
        content: "...."
    }
    100%{
        color: yellow;
        content: ".....";
    }
}

/*=======================================================
                Elevator pitch
=========================================================*/
#elevatorPitch section{
    display: flex;
    align-items: center;
    width: 60%;
    margin: 1rem auto 1rem auto;
}

#elevatorPitch div{
    border: 3px solid black;
}

#elevatorPitch #jobs{
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    margin: auto;
    border: none;
    border-top: 3px solid black;
    width: 100%;
    font-size: 2rem;
}

#elevatorPitch h2{
    margin-left: -3rem;
    color: white;
}

#elevatorPitch h3{
    text-decoration: underline black;
    color: white;
}

@keyframes elevator{

}

/*=======================================================
                MiniProjects
=========================================================*/

#projects section{
    display: flex;
    flex-direction: column;
}

#projects section h1, h2{
    width: 100%;
}

#projects .grid{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

#projects .grid-item h2{

    padding-right: 10%;
    margin-top: 0;
    margin-right: -1rem;
    color: white;
}

#projects .grid .grid-item{
    max-width: 30%;
    margin: 1rem auto 1rem auto;
    border: 0.5rem solid black;
}

#projects .grid .grid-item p{
    font-size: 1rem;
}

#projects .grid-item.project{
    max-width: 100%;
    min-width: 50%;
}

#projects .grid-item.project div{
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

#projects .grid-item.project div div{
    display: block;
}

#projects .grid-item.project h2{
    font-size: 2rem;
    padding: 1rem;
}

#projects .project img, #miniprojects .project a{
    max-width: 100%;
    margin: auto;
}

/*=======================================================
                Work
=========================================================*/
#work{
    overflow: hidden;
}

#work section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#work section h2{
    font-size: 3rem;
}


/*=======================================================
                Fun reveal/hide css animation!
=========================================================*/
.reveal{
    /*
    animation: revealy .25s ease-in-out 0s 1 normal forwards;
    */
    top: 0;
    left: 0;
    transform: rotate(0deg);
}

.hide{
    /*
    animation: hidey .25s ease-in-out 0s 1 normal forwards;
    */
    
    left: -200vw !important; /*Note: Mobile displays are taller than they are narrow, so with -100, parts would still be shown on the screen. 
    Fix !IMPORTANT, this is needed to override the class values for the loading screen.*/
}

.spin{
    transform: rotate(90deg);
}

/*
@keyframes revealy{
    from{
        left: -100vw;
        transform: rotate(90deg);
    }

    to{
        top: 6vh;
        left: 0;
        transform: rotate(0deg);
    }
}

@keyframes hidey{
    from{
        top: 6vh;
        left: 0;
        transform: rotate(0deg);
    }

    to{
        top: 0;
        left: -100vw;
        transform: rotate(90deg);
    }
}
*/

@media all and (max-width: 800px) {
    .masonry, .item{
        width: 100%;
    }
    .circle{
        width: 50%;
        height: 50%;
    }
}