html, body{
    overflow: hidden;
}
body{
    position: fixed;
    margin: 0;
    background-color: #303030;
}

.circle {
    width: 30%;
    height: 30%;
}

path {
    transform-origin: center bottom;
    transition: all 1s;
}

.fade {
    opacity: 0.05;
}

.trianglify{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -9999;
    overflow: hidden;
}

.item{
    position: fixed;
    top: 200%;
    width: 100%;
    color: white;
    transition: all 0.5s;
    overflow-y: auto;
}

.item h1{
    border-bottom: 3px dashed black;
    margin: auto;
    text-align: center;
}

.item blockquote{
    font-size: 3vw;
}

.item blockquote a{
    color: blue;
    font-weight: 900;
    background-color: rgba(0,0,0,0.7)
}

.item iframe{
    height: 59vh;
    width: 100%;
    border: none;
}

.circle{
    width: 30vw;
    height: 30vh;
}


#rightUpperCorner{
    position: fixed;
    top: 0;

}


#leftLowerCorner{
    position: fixed;
    bottom: 0;
}


#leftLowerCorner, #rightUpperCorner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 6%;
    border: 5px black solid;
}

#leftLowerCorner svg, #rightUpperCorner svg{
    display: block;
    height: 6vh;
    margin: 5%;
}

@media all and (max-width: 800px) {
    .masonry, .item{
        width: 100%;
    }
    .circle{
        width: 50%;
        height: 50%;
    }
}