:root {
    --colorOne: #46b1c9;
    --colorTwo: #84c0c6;
    --colorThree: #9fb7b9;
    --colorFour: #bcc1ba;
    --colorFive: #f2e2d2;
}

html,
body {
    padding: 0;
    margin: auto;
    background-color: var(--colorTwo);
}

html .no-js * {
    display: none;
}

html .no-js p {
    display: block;
}

nav {
    position: sticky;
    width: 100%;
    background-color: var(--colorTwo);
    overflow: hidden;
    top:0;
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    padding: 1rem;
    border-radius: 1rem;
    margin: 1rem;
    width: 100%;
    transition: background-color ease-in-out 0.2s;
    font-size: 1rem;
    cursor: pointer;
}

nav ul li:hover {
    background-color: var(--colorOne);
}

article {
    background-color: var(--colorThree);
    margin-top: 0;
    padding: 0;
}

.test{
    height: 1000vh;
}


.circle{
    border-radius: 50%;
    height: 20rem;
    width: 20rem;
    position: absolute;
    right: -2.5rem;
    top: -2.5rem;
    z-index: 1;
    border: 1rem dotted black;
    animation: rotate 35s linear infinite;
}

.circle .circle{
    position: absolute;
    height: 30%;
    width: 30%;
    right: 10px;
    animation-direction: reverse;
}
/* Makes circles at the bottom, then just shift them in a direction forever. Waves!*/
.waves {
    background: linear-gradient(45deg, var(--colorTwo), var(--colorFive));
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
    top:0;
    overflow: hidden;
}

.waves:before,
.waves:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1rem;
    height: 2rem;
}

.waves:after {
    background: radial-gradient(3rem,
        transparent,
        transparent 50%,
        var(--colorTwo) 50%);
    background-size: 2rem 6rem;
    background-position: 1rem -3rem;
    background-repeat: repeat-x;
    bottom: 0;
}

.waves.animatedWave:before,
.waves.animatedWave:after {
    animation: animateWave 1s linear infinite;
}

@keyframes animateWave {
    to {
        transform: translateX(2rem);
    }
}

@keyframes rotate{
    from{
        transform: rotate(0deg)
    }
    to{
        transform: rotate(360deg)
    }
}