<article class="item" id="elevatorPitch">
    <section>
        <h1 id="name" onclick="shatter()">Dillon Simeone</h1>
        <h2>A multifaceted innovator driving accessibility in technology.</h2>
        <div>
            <p>
                Welcome! I’m a maker, developer, and designer with over a decade of experience turning ideas
                into working things; websites, devices, installations, you name it. I’ve built everything from
                responsive, accessible sites to custom hardware for live performances. These days I’m a Lead
                Design Engineer, but I still take on freelance work of all shapes and sizes: 3D printing parts,
                prototyping gadgets, creating interactive art, or helping bring “wouldn’t it be cool if…”
                concepts to life. You can see some of my projects on my <a
                    href="https://www.youtube.com/@Dillonsimeone/shorts"
                    style="margin: 0; font-size: 1rem; color: blue;">youtube</a>!
            </p>
            <p>
                As a Deaf developer, inclusivity is built into everything I create. I’ve found that the most
                interesting projects often come from unexpected collaborations; engineers, artists, educators,
                or
                just curious people with wild ideas. If you’ve got something unconventional in mind, I’m all
                ears (metaphorically speaking).
            </p>
            <p>
                Outside of work, you’ll usually find me outdoors, gaming, or in the workshop tinkering with
                laser-cut designs. I’m constantly chasing new skills and challenges, with a steady focus on
                making technology more accessible and engaging for everyone.
            </p>
            <p>
                I’m currently finishing my degree in Creative Coding at Portland Community College, specializing
                in embedded tech. It’s about time I got the official piece of paper to go with the skills I’ve
                been building for years!
            </p>
            <p>
                If it can be built, I’ll find a way to make it happen! Let’s talk, whether it’s an accessibility
                tool, a custom gadget, or an art piece that needs a little engineering magic.
            </p>

            <div id="jobs">
                <a id="hire" href="mailto:dillonsimeone@gmail.com">
                    Email me, let’s build something together!
                </a>
                <a
                    href="https://docs.google.com/document/d/17at4VC7BOsuEL0SFwjbOCelqJ94owcdG1yyveG8QO0Y/edit?usp=sharing">Read
                    my resume</a>
            </div>
        </div>
    </section>
</article>
