html
{
    height: 100%;
    width: 100%;
    background-image: url(../image/gif/Forest_spirits.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
body
{
    display: flex;
}

form
{
    margin: auto;
    padding: 5px;
    border: 5px black solid;
    border-radius: 20px;
    box-shadow: 10px 10px 5px black;
    background-color: white;
}
form h1
{
    margin-bottom: 10px;
}
.align
{
    text-align: center;
    margin: auto;
}

form .question
{
    display: block;
    margin: 5px;
}
form .radioQuestion1, .radioQuestion2, .radioQuestion3
{
    margin: 5px;
    display: flex;
    flex-direction: column;
}
form .buttons
{
    text-align: center;
    
}
.rainbowText
{
    animation: rainbow ease-in-out 2s infinite alternate;
}
@keyframes rainbow
{
    from{color: red;}
    25%{color: green;}
    50%{color: pink;}
    75%{color: purple;}
    to{color: blue;}
}